<%- include('partials/header.ejs') %> 
<main>

  <%- include('new_post.ejs') %>

  <!-- <div class="guestbook-nav">
    <ul>
      <li><a href="/posts/new">Skriv ett inlägg</a></li>
    </ul>
  </div> -->
  
<ul>
  <% for (post of posts) { %>
    <div class="post">
    <div class="post-header">
      <li class="author"><%= post.author %></li>    
      <li class="comment"><%= post.comment %></li>    
    </div>
    <li class="likes">
      <form action="/posts/<%= post.id %>" method="post" id="like-form">
        <input type="submit" value="Gilla" id="like-btn">
      </form>
    <% if(post.likes > 0) { %> 
      <span class="likes-badge"><%=post.likes %></span>
    <% } %>
    </li>
    </div>
    <div class="replies">      
    </div>
  <% } %> 
</ul>

</main>
<%- include('partials/footer.ejs') %> 